.PageLoading {
	background-color: #232323;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	transition: opacity .35s ease;
}
.PageLoading.Preloader-Hidding {
	opacity: 0;
}
.PageLoading.Preloader-Hidden {
	display: none;
}
.AnimatedIcon {
    font-size: 72px;
    width: auto;
    height: auto;
    padding: 10px;
}